.spinner {
    display: flex;
    place-self: center;
    min-height: 80vh;
}
.spin {
  width: 65px;
  height: 65px;
  place-self: center;
  border: 5px solid #bdbdbd;
  border-top-color: #4500c6;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
